.CoursesContainer {
  @apply w-full m-auto pt-10 pb-20
  text-center bg-[#43256f];
}

.CoursesCardsContainer {
  @apply flex flex-col space-y-3 md:space-y-0
   md:flex-row md:space-x-3 lg:space-x-7  
   w-[80%] mx-auto mt-14 justify-center 
   items-center md:items-baseline;
}

.CourseCardFunDiv {
  @apply relative w-[250px] xs:w-[300px] 
  sm:w-[350px] h-[360px] xs:h-[380px] 
  sm:h-[400px] md:h-[350px] lg:h-[400px];
}

.CourseCardFunHeading {
  @apply mt-7 mb-5 text-lg md:text-base 
  lg:text-xl font-semibold text-[#f1c50e] 
  tracking-widest;
}

.CourseCardFunButton {
  @apply absolute bottom-4 -translate-x-1/2 
  text-[10px] tracking-widest font-semibold 
  px-7 py-2 bg-[#f1c50e] ease-in-out 
  duration-150 hover:scale-110;
}
