@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");
.myapp {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("./components/background1.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* height: 100vh; */
}
/* .myproject {
  font-family: "Poppins", sans-serif;
} */
/* .navBarDesktop {
  font-size: x-small;
} */
.signUp_heading {
  font-family: "Poppins", sans-serif;
}
.signUp_para {
  color: #797979;
}
