@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .mybtn_outline {
    @apply py-2 px-12 sm:px-16 bg-transparent text-white font-bold rounded-sm shadow-md border-2 hover:bg-orange-600 hover:border-mycolor duration-300;
  }
  .mybtn {
    @apply py-2 px-12 sm:px-16 bg-mycolor text-white font-bold rounded-sm shadow-md hover:bg-orange-600 border-2 border-mycolor hover:bg-transparent hover:border-white duration-300;
  }

  .mycontactform {
    @apply block
      w-full
      mt-1
      p-1
      lg:p-2
      text-sm
      lg:text-base
      border-2
      border-mycolor
      border-opacity-40
      rounded-sm
      shadow-sm
      focus:border-mycolor;
  }
  .passwordDiv {
    @apply break-all
    w-full
    p-1
    pl-3
    sm:p-2
    lg:p-3
    text-sm
    sm:text-base
    bg-zinc-200
    bg-opacity-70
    font-semibold
    text-zinc-800
    flex 
    flex-row 
    items-center 
    justify-between;
  }
  .myforminput {
    @apply block
    w-[84%]
    h-full
    p-1
    sm:p-2
    lg:p-3
    text-sm
    sm:text-base
    rounded-sm
    border-none
    active:border-mycolor
    focus:border-mycolor;
  }
  .myformdiv {
    @apply w-full
    mb-4 
    bg-zinc-200
    bg-opacity-70
    border-[1px]
    border-zinc-400
    rounded-sm
    flex flex-row items-center justify-between;
  }
  .myformicon {
    @apply m-auto
    text-base
    sm:text-xl
    md:text-2xl
    text-mycolor
    opacity-60
    rounded-sm;
  }
  .profileItems {
    @apply w-36
    text-xs 
    m-auto
    text-center
    font-semibold
    text-zinc-400
    p-1;
  }
  .profileList {
    @apply block
    break-all
    w-full
    p-1
    pl-3
    sm:p-2
    lg:p-3
    text-sm
    sm:text-base
    bg-zinc-200
    bg-opacity-70
    font-semibold
    text-zinc-800;
  }
}
